.container{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 105px;
}

.upInfo{
    text-align: center;
    padding: 25px;
    border-bottom-left-radius: 35px;
    background-color: #1F1F39;
    color: white;
}

.card{
    color: #1F1F39;
}

.msgList > a{
    text-decoration: none;
    color: #1F1F39;
}

.msgList{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 45px;
    padding-top: 15px;
    width: 100%;
    height: 80%;
    overflow: scroll;
}

.msg{
    height: max-content;
    background: #F9F9FB;
    border-radius: 20px;
    padding: 15px;
    font-size: 13px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.msg > span{
    color: #1F1F39;
}