.chatRoom{
    width: 100%;
    min-height: 100vh;
    color: white;
    z-index: 1000;
    position: relative;
}

.textInfoBlock{
    display: flex;
    text-align: center;
    justify-content: start;
    position: fixed;
    width: 100%;
    background-color: #1F1F39;
    padding: 25px;
    border-bottom-left-radius: 15px;
    text-align: center;
    font-size: 14px;
}

.textInfoBlock > h1{
    width: 100%; 
    text-align: center;
}

.msgSend{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 15px;
    left: 0;
    right: 0;
    padding: 0px 15px;
}

.msgSend > input{
    width: 90%;
    padding: 8px 16px;
    background-color: white;
    border: solid 1px #383E5E;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    outline: none;
    color: #383E5E;
}

.msgSend > button{
    background-color: #383E5E;
    border: none;
    color: white;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.msgList{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 45px;
    padding-top: 105px;
    width: 100%;
    height: 80%;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
}

.msgInfoBlock{
    width: 100%;
    height: max-content;
}

.msg{
    height: max-content;
    background: #F3F6FD;
    padding: 15px;
    border-radius: 15px;
    font-size: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    color: #383E5E;
    width: max-content;
    height: max-content;
    max-width: 100%;
}

.msgInfoBlock > .msgSelf{
    height: max-content;
    padding: 15px;
    background: #82A4D0;
    border-radius: 15px;
    font-size: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    width: max-content;
    max-width: 100%;
}

.msg > span{
    color: #383E5E;
}