.chatRoom{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    color: white;
    z-index: 1000;
    position: relative;
}

.chatRoom > h1{
    padding: 25px;
    text-align: center;
    background-color: #1F1F39;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.msgSend{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 15px;
    left: 0;
    right: 0;
    padding: 0px 15px;
}

.msgSend > input{
    width: 90%;
    padding: 8px 16px;
    background-color: #383E5E;
    border: none;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    outline: none;
    color: white;
}

.msgSend > button{
    background-color: #EEA86C;
    border: none;
    color: white;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.msgList{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 45px;
    padding-top: 15px;
    width: 100%;
    height: 80%;
    overflow: scroll;
}

.msg{
    height: max-content;
    background-color: #383E5E;
    padding: 15px;
    border-radius: 15px;
    font-size: 13px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.msg > span{
    color: #EEA86C;
}