.container{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 105px;
}

.container > h1{
    width: 100%;
    padding: 45px;
    color: white;
    text-align: center;
    background-color: #1F1F39;
    border-bottom-left-radius: 35px;
    margin-bottom: 25px;
}

.container > span{
    display: block;
    width: 100%;
    text-align: center;
}