.container{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding-bottom: 105px;
}

.listInfo{
    width: 100%;
    background-color: #1F1F39;
    color: white;
    padding: 25px;
    border-bottom-left-radius: 35px;
}

.infoBlock > img{
    max-width: 62px;
    border-radius: 100px;
    border: solid 1px white;
    padding: 5px;
}

.infoBlock{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.LeftInfo > p > span{
    font-weight: 700;
}

.listInfo > input{
    background: #F3F6FD;
    border-radius: 15px;
    border: none;
    padding: 15px;
    outline: none;
    width: 100%;
}


.firstRec{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 100%;
    height: 375px;
}

.cardListFirst{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 35px;
}

.cardListFirst > img{
    height: 368px;
    width: 285px;
    object-fit: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 35px;
}

.cardListFirst > .cardFirstInfo{
    position: absolute;
    width: 100%;
    bottom: 25px;
    left: 25px;
    color: white;
}

.swiper {
    width: 285px;
    height: 368px;
  }
  
  .swiper-slide {
    border-radius: 35px;
    width: 100%;
    height: 100%;
    border: none;
  }

.recSecond{
    padding: 25px;
}

.recSecond > span{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1F1F39;
}

.recSecondList > a{
    text-decoration: none;
    color: #1F1F39;
}

.secondInfoCard{
    width: 65%;
}

.cardSecondHotel{
    display: flex;
    justify-content: space-between;
    background-color: #F9F9FB;
    margin-bottom: 15px;
    padding: 8px 16px;
}