.container{
    width: 100%;
    min-height: 100vh;
    height: max-content;
    padding-bottom: 105px;
    background-color: white;
    color: white;
}

.perInfo{
    background-color: #1F1F39;
    color: white;
    height: max-content;
    width: 100%;
    padding: 35px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 35px;
}

.perInfo > h1{
    width: 100%;
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 18px;
}

.perList{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.perList > img{
    max-width: 120px;
    border: solid 1px white;
    padding: 10px;
    border-radius: 100px;
}

.rightPer{
    text-align: left;
    font-weight: 600;
    font-size: 16px;
}

.perSettings{
    padding: 25px 35px;
    height: 100%;
}

.card{
    color: #1F1F39;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 35px;
}

.exit{
    color: #1F1F39;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 70px;
}