.container{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 105px;
}

.upInfo{
    width: 100%;
    text-align: center;
    padding: 45px;
    background-color: #1F1F39;
    border-bottom-left-radius: 35px;
    color: white;
}

.notHotelSelf{
    padding: 35px 15px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.notHotelSelf > h1{
    font-size: 18px;
    margin: 15px 0px;
}

.notHotelSelf > a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #3845AB;
    width: 50%;
    padding: 16px;
    margin: 15px 0px;
    border-radius: 15px;
}

.card > a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #1F1F39;
    background-color: #EEA86C;
    width: 100%;
    padding: 8px 16px;
    margin: 15px 0px;
    border-radius: 15px;
}

.card{
    width: 100%;
    min-height: 275px;
    margin-top: 25px;
    border-radius: 15px;
    padding: 25px;
    font-size: 12px;
    margin-bottom: 15px;
    color: #1F1F39;
}

.card > h2{
    color: #EEA86C;
}

.card > input{
    width: 100%;
    background: none;
    outline: none;
    padding: 8px 0px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    color: #1F1F39;
}

.card > textarea{
    width: 100%;
    background: none;
    outline: none;
    padding: 8px 0px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    color: #1F1F39;
    min-height: 125px;
}

.card > img{
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
}

.button{
    padding: 8px 16px;
    border: none;
    color: white;
    border-radius: 15px;
    background-color: #1F1F39;
    width: 100%;
}